.svg-chart-container {
    background-color: #FFF8E7;
}

.svg-chart-container.kim {
    background-color: #FFF8E7;
}

.svg-chart-container.moc {
    background-color: #F7FBFF;
}

.svg-chart-container.thuy {
    background-color: #F7FBFF;
}

.svg-chart-container.hoa {
    background-color: #FFF3F7;
}

.svg-chart-container.tho {
    background-color: #FFF8E7;
}
